.slider-container {
    width: 100%;
    height: auto;
  }
  
  .card {
    width: 100%;
    position: relative;
  }
  
  .testimonial-wrapper {
    display: flex !important;
    align-items: center !important;
    width: 100%;
    position: relative !important;
    padding: 120px 0;
  }
  
  .testimonial-leftside-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .testimonial-leftside-wrapper h3 {
    color: #033863;
  }
  
  .testimonial-leftside-wrapper span {
    color: #e1a34f;
  }
  
  .testimonial-card-wrapper p {
    color: #033863;
    position: relative;
  }

  .testimonial-card-wrapper p::before{
    content: url(../../../images/icons/quote.svg);
    position: absolute;
    top: 0;
    display: block;
    transform: translateY(-30px) rotate(180deg);
  }
  
  .testimonial-card-wrapper {
    padding: 60px;
    border-radius: 20px;
    border: 1px solid #033863;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .testimonial-card-wrapper .quote-svg-wrapper {
    width: 50px;
    height: auto;
    transform: rotate(180deg);
    text-align: left;
    padding-top: 20px;
  }
  
  .testimonial-card-wrapper p {
    border-bottom: 1px solid #033863;
    padding-bottom: 20px;
  }
  
  .testimonial-card-wrapper .testimonial-avatar-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .testimonial-card-wrapper .testimonial-avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
  }
  
  .testimonial-rightside-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .testimonial-rightside-wrapper{
    width: 70%;
    height: max-content;
  }
  
/* .slick-next{
    right: 25px;
} */
.slick-list{
  height: 374px;
}
.testimonial-btn-wrapper{
  padding-top: 20px;
}
.testimonial-next-btn,.testimonial-prev-btn{
  background-color: #033863;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.testimonial-next-btn{
  margin-left: 20px;
}
.slick-prev,.slick-next{
  display: none !important;
}
@media screen and (max-width: 700px){
  .testimonial-wrapper{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  .testimonial-rightside-wrapper{
    width: 100%;
    padding-top: 10px;
  }
  .testimonial-card-wrapper .testimonial-avatar-container{
    width: 50px;
    height: 50px;
  }
  .testimonial-rightside-footer-content{
    padding-top: 10px;
  }
  .testimonial-rightside-footer-content h4{
    font-size: 16px;
  }
  .testimonial-rightside-footer-content .stars-wrapper{
    display: none;
  }
  .slick-list{
    height: 372px;
  }
}