.service-wrapper {
    padding: 92px 0 136px 0;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider-image-container {
    margin: 0 10px;
    padding: 16px 24px;
    border: 1px solid #A1AEBF;
    border-radius: 10px;
}

.slider-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
    width: 100%;
}

.slider-wrapper h4 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48.76px;
    letter-spacing: -0.04em;
    color: var(--black-color);
    max-width: 672px;
    text-align: left;
}

.slider-wrapper h4:hover {
    color: var(--purple-color);
}

@media screen and (max-width: 700px) {

    .service-wrapper h6,
    h2 {
        text-align: center;
    }

    .slider-images {
        width: 100%;
    }

    .service-card-wrapper .service-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slider-wrapper h4{
        text-align: center;
    }
}